.main {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.main.centered {
  align-items: center;
  justify-content: center;
}

.page-title {
  font-size: 3.25rem;
  margin-top: 0;
  margin-bottom: 2rem;
}
